Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^favicon\.ico$ /public/favicon.ico [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^(/[a-zA-Z0-9_-]+)?/public/.*$
  RewriteRule ^ index.php
</IfModule>