.post-content {
    font-size: 1.1em;
}

ul.post-meta, div.post-meta {
    margin: 0 !important;
    padding: 0 !important;
}

a.post-tag,
a:hover.post-tag,
a:active.post-tag,
a:visited.post-tag {
    color: white;
}